%h2
  My Mail
  %ul
  - @conversations.each do |conversation|
    %li
      = conversation.subject
      %p
        -# TODO Refactor please
        = Mailboxer::Message.find(conversation).body
      = link_to I18n.t("form.reply"), new_conversation_reply_path(conversation)


