-# - user_cover_photo = current_user.cover_photo.present? ? current_user.photo : "default-cover-photo.png" 
= image_tag "default-cover-photo.png", { class: "banner" }

- user_avatar = current_user.avatar.present? ? current_user.avatar : "default-avatar.png" 
.circle.overlap--top
  = image_tag user_avatar 
