.border--gray--bottom.margin--small--vertical
  = link_to I18n.t("homepage.discussion.thread"), discussion_path(discussion), class: 'text--teal'
  - if discussion.posts.count > 3
    - more_posts_count = discussion.posts.count - 3
    = "(#{more_posts_count} more posts)"
