.row
  .col-md-4
    .border--black
      %h2
        ="1"
      %img
  .col-md-4
    .border--black
      %h2
        ="2"
      %img
  .col-md-4
    .border--black
      %h2
        ="3"
      %img
    
