.jumbotron
  .text-center
    = image_tag 'logo.png'
    %h4
      = "All your most recent community activity will be posted here once you start using the platform." 
    %p
      ="Please join a community to start using RareShare!!"
    = link_to "Join Now", communities_path, class: 'btn btn-rareshare'
