.border--yellow.padding--small.margin--medium--top
  %h3
    = "FAQ"
  %hr
  %h4
    = "Have questions about rareshare?"
  %p
    = "Visit our Frequently Asked Questions page to find the answers to some of the most commonly asked questions."
  .text-aligned--center
    = link_to "VISIT FAQ", page_path('faq'), class: 'btn btn-rareshare'

