%h2
  Frequently Asked Questions

%strong
  What is RareShare?

%p
  RareShare is an online social hub for those affected by rare medical disorders. Whether you are a patient, family member, friend of the family, or healthcare professional, you are invited to join RareShare. Our goal is to become the #1 aggregator of information about rare disorders on the Web. We're still young, but we hope you decide to join us as we grow.

%strong
  Why should I use RareShare?

%p
  You should use RareShare because you are interested in connecting with others that are affected by the same medical disorders. That's the goal of the Site and we hope you find it useful.

%strong
  How much does it cost to join?

%p
  Joining RareShare is absolutely free and takes less than a minute. Click 
  = link_to "here", new_user_registration_path 
  to sign up today.

%strong
  If RareShare is free to join, how do you make money to support the Site?

%p
  Right now, RareShare is privately funded. In the future, we may seek select corporate and not-for-profit sponsors to help support the ongoing development of the Site. If you or someone you know has an interest in helping support RareShare, please contact David Isserman ( david@rareshare.org ).

%strong
  How do I edit information in my community?

%p
  In order to edit information in a community, you must first join that community. To join a community, browse to your community and select "Join Community". Once you're a member of that community, you can then edit information by selecting the "edit" link next to the section you wish to change.

%strong
  Why are changes moderated?

%p
  By moderating changes, we believe that we can create a safer environment for our members to share information and experiences about rare medical disorders. In other words, we are trying to prevent spammers from infiltrating the site.

%strong
  What happens if I cannot find my community?

%p
  We are constantly working on adding new communities to RareShare. If your community is not listed, please send an email to communities@rareshare.org. We will do our best to get it up right away.

%strong
  How do I contact RareShare?

%p
  We always enjoy hearing from our members and those interested in providing feedback about the Site. Please send all inquiries to info@rareshare.org. While we may not be able to respond to all emails right away, we promise that your email will be read by a member of the RareShare staff. Please do not send any medical related questions, as our policy does no allow us to respond to those.
