.border--black {
  border: 1px solid black; 
}

.border--gray {
  border: 1px solid #DAD8DD; 
}

.border--gray--bottom {
  border-bottom: 1px solid #DAD8DD; 
}

.border--gray--top {
  border-top: 1px solid #DAD8DD; 
}

.border--gray--left {
  border-left: 1px solid #DAD8DD; 
}

.border--yellow--bottom {
  border-bottom: 10px solid rgba(221, 208, 41, .5);
}

.border--yellow {
  border: 10px solid #CFC329; 
}

.border--teal {
  border: 10px solid #51B6A4;
}
