/* USE THESE COLOR CODES

/* $teal = #51B6A4 */
/* $yellow = #CFC329 */
/* $dark_gray = #575757 */
/* $light_gray = #DAD8DD */
/* $purple = #2A1635 */



body.background--gray{
  background-color: #F0F0F0;
}
