img.banner {
  width: 100%;
  height: 600px;
  background: no-repeat center center fixed;
}

.icon-image{
  height: 50px;
}

.icon-image--rounded {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

