img.bannner {
  background: no-repeat center center fixed;
  background-size: cover;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  
  /* @media (min-device-width: 320px) and (max-device-width: 480px) { */
    /* background: url(banner-homepage-iphone.png) no-repeat center center fixed; */
    /* background-size: cover; */
  /* } */

  /* @media (min-device-width: 768px) and (max-device-width: 1024px) { */
    /* background: url(banner-homepage.png) no-repeat center center fixed; */
    /* background-size: cover; */
  /* } */
}

.icon-image{
  height: 50px;
}

.icon-image--rounded {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.circle {
    border-radius: 50%;
    display: inline-block;
    position: relative;
}
.circle img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: block;
}
.circle:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border:25px solid rgba(78, 191, 173, .5);
    position: absolute;
    top: 0; left: 0;
}

.image--overlap {
  margin-top: -140px;
  margin-left: 100px;
}
