.padding--small--horizontal{
  padding-left: 20px;
  padding-right: 20px;
}

.padding--medium--horizontal{
  padding-left: 40px;
  padding-right: 40px;
}

.padding--large--horizontal{
  padding-left: 60px;
  padding-right: 60px;
}

.padding--small--vertical{
  padding-top: 20px;
  padding-bottom: 20px;
}

.padding--small--right{
  padding-right: 20px; 
}

.padding--small{
  padding: 20px; 
}

.padding--medium{
  padding: 20px; 
}

.padding--medium--right{
  padding-right: 40px; 
}

.margin--small--right{
  margin-right: 20px; 
}

.margin--small--top{
  margin-top: 20px;  
}

.padding--large--top{
  padding-top: 60px;  
}

.padding--large{
  padding: 60px;  
}
.margin--small--left{
  margin-top: 20px;  
}

.margin--small--bottom{
  margin-bottom: 20px;  
}

.margin--x-small--bottom{
  margin-bottom: 10px;  
}

.margin--x-small--top{
  margin-top: 10px;  
}

.margin--small--vertical{
  margin-top: 20px;
  margin-bottom: 20px;
}

.margin--large--vertical{
  margin-top: 60px;
  margin-bottom: 60px;
}

.margin--medium--top{
  margin-top: 40px;  
}

.margin--medium--bottom{
  margin-bottom: 40px;  
}

.margin--medium--left{
  margin-left: 40px;  
}

.margin--x-large--left{
  margin-left: 100px;  
}

.margin--large--top{
  margin-top: 60px;  
}
.margin--x-large--top{
  margin-top: 80px;  
}

