.padding--small--horizontal{
  padding-left: 20px;
  padding-right: 20px;
}

.padding--medium--horizontal{
  padding-left: 40px;
  padding-right: 40px;
}

.padding--large--horizontal{
  padding-left: 60px;
  padding-right: 60px;
}

.padding--small--vertical{
  padding-top: 20px;
  padding-bottom: 20px;
}

.padding--small--right{
  padding-right: 20px; 
}

.padding--small{
  padding: 20px; 
}
.padding--medium--right{
  padding-right: 40px; 
}

.margin--small--right{
  margin-right: 20px; 
}

.margin--small--top{
  margin-top: 20px;  
}
.margin--medium--top{
  margin-top: 40px;  
}

.margin--x-large--top{
  margin-top: 80px;  
}
