#new_supplement.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %span.pull-right{ "aria-hidden" => "true", data: { dismiss: "modal"} }
          = fa_icon("times")
        %span.sr-only
          = "Close"
        .modal-title
          %h3
            = "New Resource"
        .modal-body
          = render partial: 'supplements/form', locals: { discussion: @discussion }
