.row
  %h3 Communities
  .column
    - @communities.each do |community|
      %td
      .media
        .media-left.col-md-12
          .panel.panel-default
            .panel-heading
              %h3.panel-title
                = link_to community.name, community
            .panel-body
              = "#{community.members.count} members"
              %p
              = community.description.truncate(100, separator: ' ')