- options = { data: { target: '#edit_connections', toggle: "modal" } }
= render partial: 'profile/modals/edit_connections'

%h4
  = 'YOUR CONNECTIONS'
- if can? :manage, @user
  = link_to 'Connection Requests', '#edit_bio', options
- @user.connection_names.each do |connection_name|
  %p
    = connection_name
