.panel.panel-default.target
  .panel-heading
    = 'Posts'
  .panel-body
    - @user.posts.each do |post|
      .row
        .col-md-3
          %strong
            Discussion Title:
        .col-md-3
          = link_to post.discussion.title, discussion_path(post.discussion.id)
        .col-md-3
          %strong
            Post:
        .col-md-3
          = post.body.truncate(50)
      %hr
